/*body background*/
body{
    background: #FAFAFA;
}

/* logo (it's a bloddy img) */
.nav-logo {
    height: 25px;
    margin-top: -2.5px;
}

/* navbar color */
.navbar,
.navbar-nav > li > a,
.navbar-right {
    background: darkgreen;
    text-transform: lowercase;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: darkgreen;
}
.navbar-nav a {
    font-size: 1.5rem;
}

/* scrollbar */
.scroll-locker::-webkit-scrollbar,
.editorScrollDiv::-webkit-scrollbar {
    width: 0.75rem;
}
.scroll-locker::-webkit-scrollbar-thumb,
.editorScrollDiv::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 1rem;
}
.scroll-locker::-webkit-scrollbar-track,
.editorScrollDiv::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 1rem;
}

/* DFN parts of instructions */
.challenge-instructions dfn {
    font-family: monospace;
    font-weight: 700;
    font-style: normal;
    /*text-decoration: underline;*/
}

/* Buttons */
.btn-primary,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    color: darkgreen;
    border-color: darkgreen;
    background: #FAFAFA;
}
.btn-primary:hover {
    color: #FAFAFA;
    background: darkgreen;
    border-color: darkgreen;
}

/* Search */
#map-filter {
    border-color: darkgreen;
}
.input-group-addon {
    color: darkgreen;
    background: #fff;
    border-color: darkgreen;
}
.input-group-addon.filled {
    background: darkgreen;
    border-color: darkgreen;
}

/* Done challenges Icon */
.big-success-icon,
a,
.text-primary {
    color: darkgreen;
}
.challenge-list-header {
    background: darkgreen;
}
